name: Terraform Multi-Cloud CI creation

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main
  #     - master

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # ---------------- AWS ----------------
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Run Checkov Security Scan
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: .
          framework: terraform
          quiet: false
          #skip_check: CKV_AWS_145,CKV2_AWS_62,CKV_AWS_18,CKV_AWS_144,CKV_AWS_300
          baseline: .checkov.yaml


   
      - name: Terraform Init (AWS)
        working-directory: aws
        run: terraform init

      - name: Terraform Apply (AWS)
        working-directory: aws
        run: terraform apply -auto-approve
  


